<configuration debug="false" scan="true" scanPeriod="300000"> <!-- scanperiod is in milis -->
	<appender name="FILE"  class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yy-MM-d HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>
	<root level="error">
		<appender-ref ref="FILE" />
	</root>
</configuration>

